
<app-property-binding />
<button-custom />
<h1 class="text-3xl font-bold mt-4">Hello {{name}}🚀🚀🚀 !!!!</h1>
@if (isServerRunning) {
    <h2 class="bg-slate-600 p-4 rounded-lg bg-2 max-w-md mt-6 text-white font-semibold text-xl">The server is up and running !!! </h2>
}  @else {
    <h2 class="bg-slate-600 p-4 rounded-lg bg-2 w-full  font-semibold text-xl ">The server is not running.</h2>
}


<app-products />

<event-example />
<app-user occupation = "Software Developer" name = "Bharath"><app-user />

<br><br>

<app-child (messageEvent) = "receiveMessage($event)" />

<br><br>

<h2>{{ receivedMessage }}</h2>




