<br><br>
<hr>
<hr>
<br>
<br>

<h2 class="mb-6">Profile Form</h2>
<p class="mt-6">Name : {{ profileForm.value.name }}</p>
<p class="mb-6 mt-6">Email : {{ profileForm.value.email }}</p>

<form [formGroup] = "profileForm" (ngSubmit) = "handleSubmit()">
    <label for="name">
        Name: 
        <input type="text" formControlName = "name" class = "bg-green-200 p-4 ml-4 border-2 rounded-lg shadow-md hover:bg-green-400 text-xl font-sans">
    </label>
    <label for="email">
        Email: 
        <input type="text" formControlName = "email" class = "bg-green-200 p-4 ml-4 border-2 rounded-lg shadow-md hover:bg-green-400 text-xl font-sans">
    </label>
    <button type="submit" class="bg-green-200 p-4 ml-4 border-2 rounded-lg shadow-md hover:bg-green-400">Submit</button>
</form> 